.logo {
  display: inline-flex;
  flex-direction: column;
  line-height: 0.86;
  color: var(--color-text);

  & .logo__top {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.42em;
    text-transform: uppercase;
  }

  & .logo__mark {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.01em;
  }

  @media (max-width: 767px) {
    & .logo__top {
      font-size: 10.5px;
    }

    & .logo__mark {
      font-size: 24px;
    }
  }
}
