.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding-top: clamp(22px, 2.8vw, 40px);

  & .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  & .header__tools {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  @media (max-width: 767px) {
    padding-top: 22px;

    & .header__nav {
      display: none;
    }

    & .header__tools {
      gap: 14px;
    }
  }
}
